@model ShopOnline.Dto.AdminDto


<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">
                        欢迎管理员：
                        <span class="x-red">@Model.AdminName</span>！当前时间：
                         <span id="time" class="time"></span><br />
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据统计</div>
                <div class="layui-card-body ">
                    <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>文章数</h3>
                                <p>
                                    <cite>66</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>会员数</h3>
                                <p>
                                    <cite>12</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>回复数</h3>
                                <p>
                                    <cite>99</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>商品数</h3>
                                <p>
                                    <cite>67</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>文章数</h3>
                                <p>
                                    <cite>67</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md2 layui-col-xs6 ">
                            <a href="javascript:;" class="x-admin-backlog-body">
                                <h3>文章数</h3>
                                <p>
                                    <cite>6766</cite>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    下载
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body  ">
                    <p class="layuiadmin-big-font">33,555</p>
                    <p>
                        新下载
                        <span class="layuiadmin-span-color">
                            10%
                            <i class="layui-inline layui-icon layui-icon-face-smile-b"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    下载
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body ">
                    <p class="layuiadmin-big-font">33,555</p>
                    <p>
                        新下载
                        <span class="layuiadmin-span-color">
                            10%
                            <i class="layui-inline layui-icon layui-icon-face-smile-b"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    下载
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body ">
                    <p class="layuiadmin-big-font">33,555</p>
                    <p>
                        新下载
                        <span class="layuiadmin-span-color">
                            10%
                            <i class="layui-inline layui-icon layui-icon-face-smile-b"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-sm6 layui-col-md3">
            <div class="layui-card">
                <div class="layui-card-header">
                    下载
                    <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span>
                </div>
                <div class="layui-card-body ">
                    <p class="layuiadmin-big-font">33,555</p>
                    <p>
                        新下载
                        <span class="layuiadmin-span-color">
                            10%
                            <i class="layui-inline layui-icon layui-icon-face-smile-b"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">商品信息</div>
                <div class="layui-card-body ">
                    
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">开发团队</div>
                <div class="layui-card-body ">
                    
                </div>
            </div>
        </div>
        <style id="welcome_style"></style>
        <div class="layui-col-md12">
            <blockquote class="layui-elem-quote layui-quote-nm">
                潮色在线商城
            </blockquote>
        </div>
    </div>
</div>
@section js
{
    <script type="text/javascript" src="~/Areas/Admin/Asset/js/xadmin.js"></script>
    <script>
        window.load(startInterval());
        function getTime() {
            var now = new Date();
            //获取相对于1900的时间差，比如2019年，获取的数字是 119
            var year = now.getYear();
            //获取完整的年份
            year = now.getFullYear();
            //范围0~11， 跟中国的月份相差1
            var month = now.getMonth()+1;
            //getDate表示获取当前时间对应的月份中的天数
            var days = now.getDate(); 
            //表示获取星期数 ,西方国家的星期数是 0~6,0代表的是周日,其他的分别是周一到周六
            var  dayOfWeek = now.getDay() ;  
            //获取当前小时
            var hour = now.getHours();
            //获取当前分钟
            var minutes = now.getMinutes();
            //获取当前秒
            var seconds = now.getSeconds();
            //拼接时间格式, 年-月-日  时:分:秒
            var time1 = year+"-"+month+"-"+days+"  "+hour+":"+minutes+":"+seconds;
                         
            document.getElementById("time").innerText = time1;
        }
        //定义将使用的定时器
        var timeout = setInterval();
            
        //打开定时器
        function startInterval() {
            timeout = setInterval("getTime()",1000);
        }
        //setInterval(调用方法，刷新间隔)
        $(document).ready(function() {
            $.get("@Url.Action("GetCount","AdminDesktop")",
                { },
                function(res) {

                });
        });
    </script>
}

