@using ShopOnline.Dto

<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
            <cite>导航元素</cite>
        </a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>查询区域</legend>
                    </fieldset>
                </div>
                <div class="layui-card-body ">
                    <div class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="userName" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="phone" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" id="btnSearch"><i class="layui-icon">&#xe615;查询</i></button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-header">
                
                   
                </div>
                <div class="layui-card-body ">
                    <table id="UserTable" lay-filter="UserList"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@section js
{
    <script>

        layui.use(['laydate', 'form', 'layer', 'table', 'request'],
            function() {
                var laydate = layui.laydate;
                var form = layui.form;
                var layer = layui.layer;
                var table = layui.table;
                $ = layui.$;
                var request = layui.request;
                //执行一个laydate实例
                laydate.render({
                    elem: '#start' //指定元素
                });

                table.render({
                    elem: '#UserTable',
                    url: '@Url.Action("GetUserList", "User")' //数据接口
                    ,
                    page: true //开启分页
                    ,
                    cols: [
                        [//表头
                            { field: 'ImagePath', title: '头像', width: '3%', templet: "<div class='layui-table-cell' > <img src='{{d.ImagePath}}' class='layui-nav-img' width='88%'> </div>", fixed: 'left' },
                            { field: 'Id', title: 'ID', width: '10%', hide: true, fixed: 'left' },
                            { field: 'UserName', title: '用户名', width: '10%' },
                            { field: 'Email', title: '邮箱', width: '10%', sort: true },
                            { field: 'Phone', title: '电话', width: '10%', sort: true },
                            { title: '创建时间', templet: "#newDate", width: '10%' },
                            { field: 'IsRemove', title: '是否启用', templet: '#switchTpl', width: '10%', sort: true },
                            { field: 'IsMember', title: '是否会员', templet: '#member', width: '10%', sort: true },
                            { field: 'userStateName', title: '状态', templet: '#barDemo', width: '14%' }
                        ]
                    ],
                    limits: [8, 16, 24],
                    toolbar: true
                });
                //查询
                $("#btnSearch").click(function() {
                    var name = $("input[name='userName']").val();
                    var phone = $("input[name='phone']").val();
                    var time = $("input[name='start']").val();
                    table.reload("UserTable",
                        {
                            where: {
                                userName: name,
                                phone: phone,
                                createTime: time
                            }
                        });
                });
                //监听滑块事件
                form.on('switch(stateDemo)',
                    function(obj) {
                        var state = false;
                        var id = this.value;
                        if (obj.elem.checked === false) {
                            state = true;
                        };
                        $.post('@Url.Action("UpdateUserState", "User")',
                            { state: state, id: id },
                            function(res) {
                                layer.msg(res.Info);
                            });
                    });
                //监听工具条
                table.on('tool(UserList)',
                    function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                        layer = self === parent ? self : top.layui.layer;
                        var data = obj.data; //获得当前行数据
                        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                        var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）
                        if (layEvent === 'edit') { //编辑
                            xadmin.open('个人信息', '/Admin/User/UpdateUserInfo?id=' + data.Id, 680, 580);
                        }
                    });
            });
    </script>
    <script type="text/html" id="newDate">
        {{# var date=parseInt( d.CreateTime.replace("/Date(","").replace(")/",""));}}
        {{# var newTime=(new Date(date)).toLocaleDateString(); }}
        {{newTime}}
    </script>
    <script type="text/html" id="barDemo">
        @{
            var roles = (AdminDto)Session["Admin"];
            if (roles.RolesName == "sa")
            {
                <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</a>
            }
        }
    </script>
    <script type="text/html" id="switchTpl">
        <input type="checkbox" name="StateName" value="{{d.Id}}" lay-skin="switch" lay-text="在使用|注销" lay-filter="stateDemo" {{ d.IsRemove== false ? 'checked' : ' ' }}>
    </script>
    <script type="text/html" id="member">

        <button name="StateName" class="layui-btn layui-btn-sm  {{d.IsMember== true ? 'layui-btn-warm' : ' layui-btn-primary' }} "> {{ d.IsMember== true ? '会员用户' : ' 普通用户' }}</button>

    </script>
}


