<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Areas/Admin/Asset/layui/css/layui.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>
<body>

@RenderBody()

<script src="~/Areas/Admin/Asset/layui/layui.all.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>

