
<div class="x-nav">
    <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
            <cite>导航元素</cite>
        </a>
    </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                  
                    <button class="layui-btn" onclick="xadmin.open('添加用户', '@Url.Action("AddRoles","Roles")', 600, 400)"><i class="layui-icon"></i>添加</button>
                </div>
                <div class="layui-card-body ">
                    <table id="RolesTable" lay-filter="RolesList"></table>
                </div>

            </div>
        </div>
    </div>
</div>
@section js
{
    <script>
        layui.use(['laydate', 'form', 'table'],
            function() {
                var laydate = layui.laydate;
                var form = layui.form;
                var table = layui.table;
                //执行一个laydate实例
                laydate.render({
                    elem: '#start' //指定元素
                });

                //执行一个laydate实例
                laydate.render({
                    elem: '#end' //指定元素
                });
                table.render({
                    elem: '#RolesTable',
                    url: '@Url.Action("GetRolesList", "Roles")' //数据接口
                    ,
                    page: true //开启分页
                    ,
                    cols: [
                        [//表头
                            { field: 'Id', title: 'ID', width: '10%', hide: true, fixed: 'left' },
                            { field: 'RolesName', title: 'ID', width: '10%', fixed: 'left' },
                            { title: '创建时间', templet: "#newDate", width: '10%' },
                            { field: 'IsRemove', title: '是否启用', width: '10%', sort: true }
                        ]
                    ],
                    limits: [8, 16, 24],
                    toolbar: true
                });
            });
       

    </script>
    <script type="text/html" id="newDate">
        {{# var date=parseInt( d.CreateTime.replace("/Date(","").replace(")/",""));}}
        {{# var newTime=(new Date(date)).toLocaleDateString(); }}
        <div class="layui-table-cell">{{newTime}}</div>
    </script>
}

