
@{
    ViewBag.Title = "官网礼遇";
}
@section css
{
    <link href="~/Asset/css/bannerstyle.css" rel="stylesheet" />
    <link href="~/Asset/css/banner3.css" rel="stylesheet" />
    <style>
        .classareatop {
            margin-top: 9%;
        }

        .classareafootertop {
            margin-top: -15%;
        }

        .classarea > div:first-child {
        }

        .classarea h1 {
            text-align: center;
            color: black;
            line-height: 2%;
            font-size: 20px;
        }

        .classarea > div > center > p {
            color: white;
        }

        .contain {
            height: 65%;
            width: 75%;
            /*border: 1px solid black;*/
            /*margin-left:0px;*/
        }

        .con {
            margin-left: 22%;
        }

        .layui-carousel {
            margin-left: 1%;
            background-color: white;
        }

            .layui-carousel img {
                width: 94%
            }

        #buttonstyle {
            background-color: black;
            color: white;
            height: 40px;
            width: 100px;
        }

        /*内容填充*/

        .banner3 {
            width: 100%;
            float: left;
            margin-left: 3%;
            margin-bottom: 20%;
        }

            .banner3 .text {
                text-align: center;
                margin-top: -35%;
                z-index: 999;
            }

        .text span {
            color: dimgray;
        }

        .text .box-small-gray {
            width: 90px;
            height: 30px;
            line-height: 30px;
            color: white;
            background-color: #424242;
            margin-left: 28%;
        }

        .text .box-small-black {
            width: 90px;
            height: 30px;
            color: white;
            line-height: 30px;
            background-color: #141414;
            margin-top: -7%;
            margin-left: 52%;
        }

        .text-miaoshu {
            width: 100%;
        }
    </style>

}
<div class="layui-row">
    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12 classareatop" style="line-height: 30px;">
        
        <img src="~/Asset/images/香水海报.jpg" style="height: 424px;width:100%;position: relative;;" />
    </div>
</div>
<br />
<br />
<div class="layui-row classarea con">
    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12">
        <img src="~/Asset/images/官网01.PNG" style="width:725px" />

    </div>
    <br />
    <br />
    <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 ">

        <div class="layui-carousel " id="test10">
            <div carousel-item="">
                <div><a href=""><img src=" ~/Asset/images/官方礼遇轮播01.jpg"></a></div>
                <div><a href=""><img src=" ~/Asset/images/官方礼遇轮播02.jpg"></a></div>
                <div><a href=""><img src=" ~/Asset/images/官方礼遇轮播03.jpg"></a></div>
                <div><a href=""><img src=" ~/Asset/images/官方礼遇轮播04.jpg"></a></div>

            </div>
        </div>
    </div>
    <br />
    <br />
    <!--//-->
    <div class="layui-row classarea">
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/Lip Glaze3.png" style="width:700px;height:650px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 35%;
			margin-top: 3%;" />
            </a>
        </div>
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/LP-PC_04.jpg" style="width:775px ;height:500px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有"
                       style="margin-left: 39%;margin-top:3%; " />
            </a>
            <br />
            <span style="margin-left: 38%;">*每个id仅能在阿玛尼底妆蜜享盒</span>
        </div>
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/LP-PC_05.jpg" style="width:775px ;height:500px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 25%;
			margin-top:3%" />
            </a>
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left:25%;
			margin-top:3%;" />
            </a>

            <span style="margin-left: 38%">*每个id仅能在阿玛尼底妆蜜享盒</span>
        </div>
    </div>
    <br />
    <br />
    <!--//唇妆-->
    <div class="layui-row classarea">
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/LP-PC_06.jpg" style="width:700px;height:650px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 34%;
			margin-top:3%;" />
            </a>
        </div>
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/LP-PC_07.jpg" style="width:775px ;height:500px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 18%;
			margin-top:3%;" />
            </a>
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 30%;
			margin-top: 3%;" />
            </a>
            <br />
            <span style="margin-left: 38%;"> 搜索更多唇妆</span>
        </div>

    </div>
    <br />
    <br />
    <!--//护肤系列-->
    <div class="layui-row classarea">
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/LP-PC_08 (1).jpg" style="width:700px;height:650px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 34%;
			margin-top:3%;" />
            </a>
        </div>
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/LP-PC_09.jpg" style="width:775px ;height:500px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 36%;
			margin-top: 3%;" />
            </a>
            <br />
            <span style="margin-left: 38%;"> *每个id仅能在阿玛尼底妆蜜享盒</span>
        </div>
    </div>
    <br />
    <br />

    <!--	//香氛衣橱-->
    <div class="layui-row classarea">
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/LP-PC_10.jpg" style="width:700px;height:650px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 34%;
			margin-top: 3%;" />
            </a>
        </div>
        <div class="layui-col-md3 layui-col-xs3 layui-col-sm6 contain">
            <img src="~/Asset/images/LP-PC_11.jpg" style="width:775px ;height:500px" />
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left:15%;
			margin-top:3%" />
            </a>
            <a href="">
                <input type="button" id="buttonstyle" value="即刻拥有" style="margin-left: 35%;
			margin-top:3%;" />
            </a>
            <br />
            <span style="margin-left:38%">查看更多</span>
        </div>
    </div>
    <br />
    <br />

</div>

@section scripts
{
    <script src="~/Asset/js/jquery.js"></script>
    <script src="~/Asset/js/superslide.2.1.js"></script>
    <script type="text/javascript">
        $(".fullSlide").hover(function () {
            $(this).find(".prev,.next").stop(true, true).fadeTo("show", 0.5)
        },
            function () {
                $(this).find(".prev,.next").fadeOut()
            });
        $(".fullSlide").slide({
            titCell: ".hd ul",
            mainCell: ".bd ul",
            effect: "fold",
            autoPlay: true,
            autoPage: true,
            trigger: "click",
            startFun: function (i) {
                var curLi = jQuery(".fullSlide .bd li").eq(i);
                if (!!curLi.attr("_src")) {
                    curLi.css("background-image", curLi.attr("_src")).removeAttr("_src")
                }
            }
        });
    </script>
        
    <!--轮播-->
    <script>
        layui.use(['carousel', 'form'], function () {
            var carousel = layui.carousel,
                form = layui.form;

            //常规轮播
            carousel.render({
                elem: '#test1',
                arrow: 'always'
            });

            //改变下时间间隔、动画类型、高度
            carousel.render({
                elem: '#test2',
                interval: 1800,
                anim: 'fade',
                height: '100px'
            });

            //设定各种参数
            var ins3 = carousel.render({
                elem: '#test3'
            });
            //图片轮播
            carousel.render({
                elem: '#test10',
                width: '770px',
                height: '810px',
                interval: 5000
            });

            //事件
            carousel.on('change(test4)', function (res) {
                console.log(res)
            });

            var $ = layui.$,
                active = {
                    set: function (othis) {
                        var THIS = 'layui-bg-normal',
                            key = othis.data('key'),
                            options = {};

                        othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                        options[key] = othis.data('value');
                        ins3.reload(options);
                    }
                };

            //监听开关
            form.on('switch(autoplay)', function () {
                ins3.reload({
                    autoplay: this.checked
                });
            });

            $('.demoSet').on('keyup', function () {
                var value = this.value,
                    options = {};
                if (!/^\d+$/.test(value)) return;

                options[this.name] = value;
                ins3.reload(options);
            });

            //其它示例
            $('.demoTest .layui-btn').on('click', function () {
                var othis = $(this),
                    type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });
        });
    </script>
}


