
@{
    ViewBag.Title = "Master";
}

@section css
{
    <style type="text/css">
        .classarea>div:first-child{
            background: black;
        }
        .classarea h1{
            text-align: center;
            color: white;
            line-height: 80px;
            font-size: 20px;
        }
        .classarea>div>center>p{
            color: white;
        }
        #boxul ul li {
            float: left;
            text-align: center;
            margin-right: 20px;
            margin-left: 20px;
        }
        #boxul ul {
            margin-left: 300px;
            margin-top: -15px;
        }
        #boxul {
            background-color: gainsboro;
        }
        .contain{
            border:black 1px solid;
            background-color:burlywood;
            height: 300px;
        }
        #position{
            background-color: gainsboro;
        }
        #position span{
            margin-left: 600px;
            font-size: 14px;
        }
    </style>
}
<div class="layui-row" style="margin-top: 6%">
    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12" style="line-height: 30px;">
        <img src="~/Asset/images/大师匠心.jpg" style="height: 424px;width:100%;position: relative;;" />
        <div style="color:white;position: absolute;top: 25%;width: 33%;right: 15%;">
            <h1 style="color:white;margin-bottom: 10px;">大师匠心</h1>
            <h2 style="color:white;margin-bottom: 10px;">
                如同精心设计的服饰体现在每一处针脚，阿玛尼每一件产品的每一处细节都无不彰显出品牌优雅气息。
                让我们共同探寻阿玛尼美妆肌密，品味细节之美。
            </h2>
            <p>“我追求简约又完美的细节，就像对待每件服装的每一处针脚，之于产品，我也一样追求极致。”</p>

            <p><img src="~/Asset/images/mod_header_sig.jpg" /></p>
        </div>
    </div>
    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12" style="line-height: 50px;background: #e8e6e6;">
        <span id="boxul">
            <ul>
                <li><a href="">当东方优雅遇上意大利的自然主义</a></li>
                <li><a href="">大师后台故事：乔治阿玛尼的创意源泉</a></li>
                <li><a href="">阿玛尼粉妆衣橱</a></li>

            </ul>

        </span>
    </div>
    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12" style="line-height: 30px;">
        <div style="height: 20%;">
            <video loop="loop" preload="auto" autoplay="autoplay" muted="true" style="width: 100%; height: auto;">
                <source src="https://www.giorgioarmanibeauty.cn/on/demandware.static/-/Sites-armani-cn-Library/default/dw69dffc95/landing-pages/MaestroOfDetails/far.mp4"
                        type="video/mp4">

            </video>
        </div>
        <div style="color:white;position: absolute;top: 25%;width: 33%;right: 15%;">
            <h1 style="color:white;margin-bottom: 10px;"><a href="dashi-second.html">了解详情</a></h1>
            <h2 style="color:white;margin-bottom: 10px;">当东方优雅遇上意大利的自然主义</h2>
            <p>阅读时间：1分钟</p>

            <p>>查看详情</p>
        </div>
    </div>

    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12"
         style="line-height: 26px;background: #e8e6e6;  margin-top: -1%;">
        <span id="boxul">
            </br>
            <ul>
                <li><a href="">当东方优雅遇上意大利的自然主义</a></li>
                <li><a href="">大师后台故事：乔治阿玛尼的创意源泉</a></li>
                <li><a href="">阿玛尼粉妆衣橱</a></li>

            </ul>

        </span>
    </div>

    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12" style="line-height: 30px;">
        <img src="~/Asset/images/femme_1920x750.jpg" height="700px" width="100%" />
        <div style="color:white;position: absolute;top: 24%;width: 33%;right: 15%;">
            <h1 style="color:white;margin-bottom: 10px;">了解详情</h1>
            <h2 style="color:white;margin-bottom: 10px;">大师后台故事：.....</h2>
            <p>阅读时间：3分钟</p>

            <p>>查看详情</p>
        </div>
    </div>


    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12" style="line-height: 26px;background: #e8e6e6;">
        <span id="boxul">
            </br>
            <ul>
                <li><a href="">当东方优雅遇上意大利的自然主义</a></li>
                <li><a href="">大师后台故事：乔治阿玛尼的创意源泉</a></li>
                <li><a href="">阿玛尼粉妆衣橱</a></li>
            </ul>
        </span>
    </div>

    <div class="layui-col-md12 layui-col-xs12 layui-col-sm12" style="line-height: 30px;">
        <img src="~/Asset/images/tissu_1920x1000.jpg" height="700px" width="100%" />
        <div style="color:white;position: absolute;top: 25%;width: 33%;right: 15%;">
            <h1 style="color:white;margin-bottom: 10px;">了解详情</h1>
            <h2 style="color:white;margin-bottom: 10px;">潮色粉底衣橱</h2>
            <p>阅读时间：2分钟</p>

            <p>>查看详情</p>
        </div>
    </div>
</div>